{% extends "base.html" %}
{% block body %}
<center>


  <div style="padding-top: 100px">
    <div class="container" style="color: #757575">
      <h5>TEMP ALL VIEW PLAN ON MAKING IT LOOK BETTER</h5>
      <p><a href="/currency">Currency</a></p>
      <p><a href="/cards">Cards</a></p>
      <p><a href="/jewels">Jewels</a></p>
      <p><a href="/map">Maps</a></p>
      <p><a href="/accessories">Accessories</a></p>
      <p><a href="/armour">Armour</a></p>
      <p><a href="/flask">Flask</a></p>
      <p><a href="/gems">Gems</a></p>
      <p><a href="/weapons">Weapons</a></p>
    </div>
  </div>

</center>
{% endblock %}