{% extends "base.html" %}
{% block body %}
<center>


  <div style="padding-top: 100px">
    <div class="container" style="color: #757575">
      <h5>TEMP ALL VIEW PLAN ON MAKING IT LOOK BETTER</h5>
      <p><a href="/view/currency/sview/">Currency</a></p>
      <p><a href="/view/cards/sview/">Cards</a></p>
      <p><a href="/view/jewel/sview/">Jewels</a></p>
      <p><a href="/view/map/sview/">Maps</a></p>
      <p><a href="/view/accessories/sview/">Accessories</a></p>
      <p><a href="/view/armour/sview/">Armour</a></p>
      <p><a href="/view/flask/sview/">Flask</a></p>
      <p><a href="/view/gems/sview/">Gems</a></p>
      <p><a href="/view/weapons/sview/">Weapons</a></p>
    </div>
  </div>

</center>
{% endblock %}