<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}
<style media="screen">
  div.icon {
    text-align: left;
  }

  div.invscontainer {
    padding-top: 15px;
    height: 75%;
    width: 75%;
  }

  div.linkcont {
    justify-content: center;
    height: 25%;
    width: 75%;
    background-color: #000000
  }
</style>

{% endblock %}
{% block body %}
<center>


  <div style="padding-top: 100px">
    <div class="">

    </div>
    <div class="invscontainer">
      <div class="icon">

        {% for x in data %}
        <div class="card text-white text-center bg-dark mb-3">
          <div class="card-header">
            Account name: {{ x.accountName }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ x.stackSize }} {{ x.typeLine }}</h5>
            <img src="{{ x.icon }}" alt="No Icon!">
            <div class="">
              <p>Link Groups</p>
              {% for y in x.sockets %}
              {% if y %}
              <p>{{ y.0 }} {{ y.1 }} {{ y.2 }} {{ y.3 }} {{ y.4 }} {{ y.5 }}</p>
              {% endif %}
              {% endfor %}
            </div>
            {% if x.note %}
            <p class="card-text">Price: {{ x.note }}</p>
            {% else %}
            <p class="card-text">No Price!</p>
            {% endif %}
            <div class="">
              {% for g in x.implicitMods %}
              <p>Implicit: {{ g }}</p>
              {% endfor %}
            </div>

            <div class="">
              {% for i in x.explicitMods %}
              <p>{{ i }}</p>
              {% endfor %}
            </div>

            <p>{{ x.descrText }}</p>

          </div>
          <div class="card-footer text-muted">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary" onclick="copy()">Copy</button>
              </div>
              {% if x.note %}
              <input type="text" value="@{{ x.accountName }} Hi, I would like to buy your {{ x.typeLine }} listed in League (stash tab {{ x.stashname }}; position {{ x.x }}, {{ x.y }})" class="form-control" id='input' aria-label=""
                aria-describedby="basic-addon1" readonly>
              {% else %}
              <input type="text" value="@{{ x.accountName }} Hi, I would like to buy your {{ x.typeLine }} listed for {{ x.note }} in League (stash tab {{ x.stashname }}; position {{ x.x }}, {{ x.y }})" class="form-control" id='input' aria-label=""
                aria-describedby="basic-addon1" readonly>
              {% endif %}

            </div>
          </div>
        </div>

        {% endfor %}
      </div>


    </div>
  </div>
  <script>
    function copy() {
      var copyText = document.getElementById("input");
      copyText.select();
      document.execCommand("copy");
      alert("Copied the text: " + copyText.value);
    }
  </script>
</center>
{% endblock %}