<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}
<style media="screen">
  div.icon {
    text-align: left;
  }
</style>

{% endblock %}
{% block body %}
<center>


  <div style="padding-top: 100px">
    <div class="container" style="color: #757575">
      <div class="icon">
        {% for x in data %}
        <p style="font-size:25px"><img src=" {{ x.icon }}" alt="No icon found"> {{ x.accountname }}: {{ x.type }}</p>
        {% endfor %}
      </div>

    </div>
  </div>
</center>
{% endblock %}