<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}
<style media="screen">
  div.icon {
    text-align: left;
  }
</style>

{% endblock %}
{% block body %}
<center>


  <div style="padding-top: 100px">
    <div class="container" style="color: #757575">
      {% for post in currencyPost %}
      <div class="icon">
        {% if post.stackSize %}
        <p>Worked</p>
        <p style="font-size:25px"><img src="{{ post.icon }}" alt="No Icon!"> {{ post.accountName}}: {{ post.typeLine }}, Stasksize: {{ post.stackSize }}</p>

      </div>

      {% endfor %}
    </div>
  </div>
</center>
{% endblock %}