<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block body %}
<center>
  <div style="padding-top: 100px">
    <div class="container" style="color: #757575">
      <form action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <div class="allignleft">
              <p>If N/A leave blank</p>
              <p>Type Filter</p>
              <p>Item Category: {{ form.type_category }}</p>
              <p>Item Rarity: {{ form.type_rarity}}</p>
              <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
              <p>Weapon Filter</p>
              <p>Damage: {{ form.weapon_damage_min}}{{form.weapon_damage_max}} APS: {{form.weapon_aps_min}}{{form.weapon_aps_max}} Crit Chance: {{form.weapon_crit_min}}{{form.weapon_crit_min}}</p>
              <p>DPS: {{form.weapon_dps_min}}{{form.weapon_dps_max}} PDPS: {{form.weapon_pdps_min}} {{form.weapon_pdps_max}} EDPS: {{form.weapon_edps_min}}{{form.weapon_edps_max}}</p>
              <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
              <p>Armour: {{form.armour_min}}{{form.armour_max}} Evasion: {{form.armour_evasion_min}}{{form.armour_evasion_max}} ES: {{form.armour_es_min}}{{form.armour_es_max}}</p>
              <p>Ward: {{form.armour_ward_min}}{{form.armour_ward_max}}Block: {{form.armour_block_min}}{{form.armour_block_max}}</p>
              <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
              <p>Sockets: {{ form.Item_sockets}}</p>
              <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
              <p>Requirements: {{ form.Item_req_Lvl }} {{ form.Item_req_Strength}} {{ form.Item_req_Intelligence}} {{ form.Item_req_Dexterity}}</p>
              <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
              <p>Map Tier: {{form.map_tier}} Area Level: {{form.map_area_level}}</p>
              <p>Map Region: {{form.map_region}} Blighted Map:{{form.map_blight}} </p>
              <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
              <p>Ilvl: {{ form.ilvl }} Identified: {{ form.Is_identified }}</p>
              <p>Fractured: {{form.misc_fractured}} Courrupted: {{form.misc_corrupted}} </p>
              <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
              <p>Sellers Account Name: {{ form.accountName }}</p>
              <p>Item Price: {{ form.note }} {{ form.Item_price_quantity }}</p>
              <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            </div>
            <p> MODS</p>
            <p>~~~~~~~~~~~~~~~~~~~~~</p>
            <p>Implicit</p>
            <p>{{form.mods_implicit_1}}{{form.mods_implicit_2}}{{form.mods_implicit_3}}</p>
            <p>Prefix</p>
            <p>{{form.mods_prefix_1}}{{form.mods_prefix_2}}{{form.mods_prefix_3}}{{form.mods_prefix_4}}</p>
            <p>Suffix</p>
            <p>{{form.mods_suffix_1}}{{form.mods_suffix_2}}{{form.mods_suffix_3}}{{form.mods_suffix_4}}</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
          </div>
          <p></p>
        </div>
        <input type="submit" value="Search">
      </form>
      <p>
        HOW TO SEARCH: <br>
        Input all the info about an item you want then hit search <br>
        for Item Mods should closly resemble how you would see that mod on an item <br>
        for exaple: <br>
        fire resistance 50% could aslo be fire resistance 50 or 50 fire resistance <br>
        IMPORTANT NOTE ABOUT ABOVE EXAPLE, MUST INCLUDE KEY WORDS <br>
        SUCH AS FIRE, RESISANCE AND VALUES <br>
      </p>
    </div>
  </div>

</center>
{% endblock %}