<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block body %}
<center>
  <div style="padding-top: 100px">
    <div class="container" style="color: #757575">
      <form action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <p>If N/A leave blank</p>
            <p>Type Filter</p>
            <p>Item Category: {{ form.Item_category }}</p>
            <p>Item Rarity{{ form.Item_rarity}}</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>Damage:__ __| APS: __ __| Crit Chance: __ __</p>
            <p>DPS: __ __| PDPS: __ __| EDPS: __ __</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>Armour: __ __| Evasion: __ __| ES: __ __</p>
            <p>Ward: __ __| Block: __ __</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>Sockets: {{ form.Item_sockets}}</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>Requirements: {{ form.Item_req_Lvl }} {{ form.Item_req_Strength}} {{ form.Item_req_Intelligence}} {{ form.Item_req_Dexterity}}</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>Map Tier: __| Area Level: __| Map Region: __| Blighted Map: </p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>Ilvl: {{ form.Item_level }} Identified: {{ form.Is_identified }}</p>
            <p>Fractured: __| Courrupted: __</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>Sellers Account Name: {{ form.accountname }}</p>
            <p>Item Price: {{ form.Item_price_currency }} {{ form.Item_price_quantity }}</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p> </p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>




          </div>
          <p></p>
        </div>
        <input type="submit" value="Search">
      </form>
      <p>
        HOW TO SEARCH: <br>
        Input all the info about an item you want then hit search <br>
        for Item Mods should closly resemble how you would see that mod on an item <br>
        for exaple: <br>
        fire resistance 50% could aslo be fire resistance 50 or 50 fire resistance <br>
        IMPORTANT NOTE ABOUT ABOVE EXAPLE, MUST INCLUDE KEY WORDS <br>
        SUCH AS FIRE, RESISANCE AND VALUES <br>
      </p>
    </div>
  </div>

</center>
{% endblock %}