<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block body %}
<center>


  <div style="padding-top: 100px">
    <div class="invscontainer">
      <div class="icon">
        {% for x in data %}
        <div class="card text-white text-center bg-dark mb-3">
          {% if x.accountName %}
          <div class="card-header">
            Account name: {{ x.accountName }}
          </div>
          {% endif  %}
          <div class="card-body">
            <h5 class="card-title">{{ x.stackSize }} {{ x.typeLine }}</h5>
            <img src="{{ x.icon }}" alt="No Icon!">
            {% if x.sockets %}
            <div class="">
              <p>Link Groups</p>
              {% for y in x.sockets %}
              {% if y %}
              <p>{{ y.0 }} {{ y.1 }} {{ y.2 }} {{ y.3 }} {{ y.4 }} {{ y.5 }}</p>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
            {% if x.note %}
            <p class="card-text">Price: {{ x.note }}</p>
            {% else %}
            <p class="card-text">No Price!</p>
            {% endif %}
            {%if x.properties%}
            <p>{{ x.properties }}</p>
            {% endif %}
            {% if x.implicitMods %}
            <div class="">
              {% for g in x.implicitMods %}
              <p>Implicit: {{ g }}</p>
              {% endfor %}
            </div>
            {% endif %}
            {% if x.explicitMods %}
            <div class="">
              {% for i in x.explicitMods %}
              <p>{{ i }}</p>
              {% endfor %}
            </div>
            {% endif %}
            {% if x.descrText %}
            <p>{{ x.descrText }}</p>
            {% endif %}

          </div>
          <div class="card-footer text-muted">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary" onclick="copy()">Copy</button>
              </div>
              {% if x.note %}
              <input type="text" value="@{{ x.accountName }} Hi, I would like to buy your {{ x.typeLine }} listed in League (stash tab {{ x.stashname }}; position {{ x.x }}, {{ x.y }})" class="form-control" id='input' aria-label=""
                aria-describedby="basic-addon1" readonly>
              {% else %}
              <input type="text" value="@{{ x.accountName }} Hi, I would like to buy your {{ x.typeLine }} listed for {{ x.note }} in League (stash tab {{ x.stashname }}; position {{ x.x }}, {{ x.y }})" class="form-control" id='input' aria-label=""
                aria-describedby="basic-addon1" readonly>
              {% endif %}

            </div>
          </div>
        </div>

        {% endfor %}
      </div>


    </div>
  </div>

</center>
{% endblock %}